html {
    min-height: 100%;
    width: 100%;
    overflow: visible;
    overflow-x: hidden;
	font-family: 'Cuprum', sans-serif;
}

body {
	margin: 0;
    min-height: 100%;
    width: 100%;
    position: relative;
}

.clicker {
	position: fixed;
	width: 30%;
	height: 100%;
	display: inline-flex;
	float: left;
	top: 0;
	left: 0;
	bottom: 0;
	border-right-style: solid;
	border-width: 0.75px;
	border-color: black;
	justify-content: center;
	align-items: center;
}

	.resourses {
		position: relative;
		width: 85%;
		height: 90%;
		display: block;
		background-color: none;
	}

	.resourses p {
		width: auto;
		height: auto;
	}




		#get-veg {
			display: block;
			width: 95%;
			height: 4rem;
			margin: auto;
			font-weight: 400;
			font-size: 1.4rem;
			line-height: 4rem;
			font-family: inherit;
			border: none;
			outline: none;
			border-radius: 0.4rem;
			background-color: #26A95E;
			color: rgba(255,255,255,0.8);
			transition: 0.4s;
		}

		#get-veg:hover {
			background-color: #2DCA71;
			color: #FFFFFF;
			cursor: pointer;
		}

		#veg {
			position: relative;
			width: 85%;
			height: auto;
			display: block;
			font-size: 20px;
			font-weight: bold;
		}

		#veg-num {
			position: relative;
			font-weight: bold;
			font-size: 30px;
			display: inline;
		}




		#get-fruit {
			display: block;
			width: 95%;
			height: 4rem;
			margin: auto;
			font-weight: 400;
			font-size: 1.4rem;
			line-height: 4rem;
			font-family: inherit;
			border: none;
			outline: none;
			border-radius: 0.4rem;
			background-color: #26A95E;
			color: rgba(255,255,255,0.8);
			transition: 0.4s;
		}

		#get-fruit:hover {
			background-color: #2DCA71;
			color: #FFFFFF;
			cursor: pointer;
		}


		#fruit {
			position: relative;
			width: 85%;
			height: auto;
			display: block;
			font-size: 20px;
			font-weight: bold;
		}

		#fruit-num {
			position: relative;
			font-weight: bold;
			font-size: 30px;
			display: inline;
		}




		#get-berr {
			display: block;
			width: 95%;
			height: 4rem;
			margin: auto;
			font-weight: 400;
			font-size: 1.4rem;
			line-height: 4rem;
			font-family: inherit;
			border: none;
			outline: none;
			border-radius: 0.4rem;
			background-color: #26A95E;
			color: rgba(255,255,255,0.8);
			transition: 0.4s;
		}

		#get-berr:hover {
			background-color: #2DCA71;
			color: #FFFFFF;
			cursor: pointer;
		}


		#berr {
			position: relative;
			width: 85%;
			height: auto;
			display: block;
			font-size: 20px;
			font-weight: bold;
		}

		#berr-num {
			position: relative;
			font-weight: bold;
			font-size: 30px;
			display: inline;
		}

	.items {
		position: absolute;
		bottom: 5px;
		width: 99%;
		height: auto;
	}




.shop {
	position: relative;
	width: 60%;
	height: auto;
	min-height: 100%;
	display: block;
	float: left;
	top: 0;
	left: 30%;
	right: 10%;
	border-left-style: solid;
	border-right-style: solid;
	border-width: 0.75px;
	border-color: black;
}

.trade-title {
	margin-top: 2rem;
	margin-bottom: 0;
	line-height: 0.7;
	text-align: center;
	color: black;
	font-size: 1.8rem;
	text-transform: uppercase;
}

	.seller {
		position: relative;
		width: 48%;
		height: auto;
		min-height: 100%;
		float: left;
		top: 5px;
		margin-left: 1%;
	}

		.trader {
			position: relative;
			width: 90%;
			height: 100px;
			display: inline;
			float: left;
			margin-left: 10px;
			margin-right: 10px;
			background-color: #BBBBBB;
			border-radius: 0.4rem;
		}

			.trade {
				position: relative;
				width: 90%;
				height: 57px;
				display: inline;
				float: left;
				top: 15px;
				left: 5%;
				right: 5%;
				margin-bottom: 17.5px;
				font-size: 20px;
				text-align: center;
			}

				#vegCount {
					position: relative;
					width: 45px;
					height: 21px;
					font-size: 20px;
					font-weight: bold;
					background-color: #EEEEEE;
					border-radius: 5px;
					padding-left: 5px;
					padding-right: 5px;
				}

					#vegCount::-webkit-outer-spin-button,
					#vegCount::-webkit-inner-spin-button {
						display: none;
						-webkit-appearance: none;
						margin: 0;
					}

					#vegCountCent {}

				#fruitCount {
					position: relative;
					width: 45px;
					height: 21px;
					font-size: 20px;
					font-weight: bold;
					background-color: #EEEEEE;
					border-radius: 5px;
					padding-left: 5px;
					padding-right: 5px;
				}

					#fruitCount::-webkit-outer-spin-button,
					#fruitCount::-webkit-inner-spin-button {
						display: none;
						-webkit-appearance: none;
						margin: 0;
					}

					#fruitCountCent {}

				#berrCount {
					position: relative;
					width: 45px;
					height: 21px;
					font-size: 20px;
					font-weight: bold;
					background-color: #EEEEEE;
					border-radius: 5px;
					padding-left: 5px;
					padding-right: 5px;
				}

					#berrCount::-webkit-outer-spin-button,
					#berrCount::-webkit-inner-spin-button {
						display: none;
						-webkit-appearance: none;
						margin: 0;
					}

					#berrCountCent {}

			.sell-buy1 {
				position: relative;
				width: 100%;
				height: 25px;
				display: inline;
				float: left;
				left: 0%;
				right: 0%;
				font-size: 20px;
				text-align: center;
				border:none;
				outline:none;
				cursor: pointer;
				background-color: #297CB6;
				color: rgba(255,255,255,0.8);
				border-bottom-left-radius: 0.4rem;
				border-bottom-right-radius: 0.4rem;
			}

			.sell-buy1:hover {
				background-color: #3099D9;
				color: #FFFFFF;
			}

			.sell-buy2 {
				position: relative;
				width: 100%;
				height: 25px;
				display: inline;
				float: left;
				left: 0%;
				right: 0%;
				font-size: 20px;
				text-align: center;
				border:none;
				outline:none;
				cursor: pointer;
				background-color: #8B41AA;
				color: rgba(255,255,255,0.8);
				border-bottom-left-radius: 0.4rem;
				border-bottom-right-radius: 0.4rem;
			}

			.sell-buy2:hover {
				background-color: #9656AC;
				color: #FFFFFF;
			}

				#VillagerCent {}

	.buyer {
		position: relative;
		width: 48%;
		height: auto;
		min-height: 100%;
		float: right;
		top: 5px;
		margin-right: 1%;
	}




.info {
	position: fixed;
	width: 10%;
	height: 100%;
	display: inline;
	float: right;
	top: 0;
	right: 0;
	bottom: 0;
	border-left-style: solid;
	border-width: 0.75px;
	border-color: black;
	text-align: center;
}

	#money {
		position: relative;
		font-weight: bold;
		font-size: 20px;
		display: inline;
		color: #CCCC00;
	}


	#veg-num-r {
		position: relative;
		font-weight: bold;
		font-size: 20px;
		display: inline-block;
	}

	#fruit-num-r {
		position: relative;
		font-weight: bold;
		font-size: 20px;
		display: inline;
	}

	#berr-num-r {
		position: relative;
		font-weight: bold;
		font-size: 20px;
		display: inline;
	}

	#villager-num-r {
		position: relative;
		font-weight: bold;
		font-size: 20px;
		display: inline;
	}
